@mixin primary-button($bg-color, $shadow-color)
  +button($bg: $bg-color, $radius: 5px, $full-width: true)
  +box-shadow(rgba($shadow-color, 0.2) 0px -1px 1px 1px inset)
  font-size: emCalc(23px)

a.get-a-profile
  +primary-button($dark_green, $black)
  +background-image(linear-gradient(top, $light_green, $dark_green))
  &:hover
    text-decoration: none
    +background-image(linear-gradient(top, $light_green, darken($dark_green, 8%)))


input.update-profile
  +button($bg: $blue, $radius: 0)
  font-size: emCalc(15px)
  font-weight: 400
  +box-shadow(rgba($green, 0.2) 0px -1px 1px 1px inset)
  color: white
