=circular($size)
  width: $size
  height: $size
  border-radius: $size/2
  -webkit-border-radius: $size/2
  -moz-border-radius: $size/2
  background-repeat: no-repeat
  background-position: center
  background-size: $size auto
  margin-left: auto
  margin-right: auto

=grey-box-shadow
  +box-shadow($shadow-color 0px 1px 2px 0px)

=invisible
  opacity: 0
  filter: alpha(opacity=0)

=anchor-style($color)
  color: $color
  a
    text-decoration: underline
    color: $color
    &:hover
      color: $color

=landing-wrap($padding: 0, $text-align: center, $background: $white)
  width: 100%
  display: inline-block
  text-align: $text-align
  padding: $padding
  background: $background
