$background-color: #f0ede9

$black: #323232
$blue: #2BA6CB
$dark-grey: #999999
$green: #009959
$light-grey: #D2D2D2
$white: #FFFFFF
$red: #E94848
$facebook-share: #3B5898

$dark-green: $green
$light-green: lighten($green, 5%)

//Landing Page colors
$landing-green: #2AB96C
$landing-dark-green: darken(#2AB96C, 5%)
$landing-cta-slogan: #00FB99
$landing-footer-text: #249B5C
$landing-grey-background: #F5F5F5

$shadow-color: rgba(0,0,0,0.09)
$facebook: rgb(48, 69, 173)

$flash-red: #CF9297
$flash-green: #84CCA9

$profile-box-field-shadow: rgba(0,0,0,0.09)
$profile-box-field-focus-shadow: rgba(132,204,168,0.75)
$profile-box-field-border: #D4D4D4
$profile-box-field-focus-background: #F9F9F9
$profile-box-field-focus-border: #84CCA9

// the user profile page has two columns
// one used to show only the dates of each team
// and the second to show the rest of the contents
// these variables define how many grid columns each one uses
$dates-columns: 2
$profile-box-columns: 9
$root-page-offset: 1.5

// foundation overrides
$base-font-size: 15px
$em-base: $base-font-size
$body-font-family: 'Roboto', sans-serif
$header-font-family: 'Roboto', sans-serif
$base-font-size: 15px
$em-base: $base-font-size
$topbar-bg: $green
$button-border-width: 0
$form-label-bottom-margin: 0

// teams variables
$teams-separation: 20px

// viewport widths
$femto: 320px
$pico: 480px
$nano: 568px
$micro: 600px
$milli: 768px
$kilo: 800px
$mega: 960px
$giga: 1024px
$tera: 1280px
$peta: 1920px

$viewports: $femto $pico $nano $milli $mega $giga
