$white: #FFFFFF
$green1: #009959
$green2: #29695A
$yellow: #F0DA4F
$red: #F04F4F
$form-green: #84CCA9
$flash-red: #CF9297
$flash-green: #84CCA9

$shadow-color1: rgba(0,0,0,0.09)
$shadow-color2: rgba(210,89,101,0.33)
$facebook-blue: rgb(48, 69, 173)
$uplay-green: $green1
