$background-color: #f0ede9

$black: #323232
$dark_green: #7B7B7B
$green: #009959
$light_green: #D2D2D2
$red: #D25A65
$white: #FFFFFF

$shadow-color: rgba(0,0,0,0.09)
$facebook: rgb(48, 69, 173)

$flash-red: #CF9297
$flash-green: #84CCA9

$profile-box-field-shadow: rgba(0,0,0,0.09)
$profile-box-field-focus-shadow: rgba(132,204,168,0.75)
$profile-box-field-border: #D4D4D4
$profile-box-field-focus-background: #F9F9F9
$profile-box-field-focus-border: #84CCA9

// the user profile page has two columns
// one used to show only the dates of each sport experience
// and the second to show the rest of the contents
// these variables define how many grid columns each one uses
$dates-columns: 2
$profile-box-columns: 9
$root-page-offset: 1.5

// foundation overrides
$body-font-family: 'Roboto', sans-serif
$header-font-family: 'Roboto', sans-serif
$topbar-bg: $green1
$button-border-width: 0
$form-label-bottom-margin: 0
