form
  margin: 0
  padding: 0

input[type=file]
  display: none

input[type=button], .button
  +box-shadow(none)
  font-weight: 400

input[type=text], textarea, .custom.dropdown
  +box-shadow(none)
  border: 1px solid $profile-box-field-border
  border-radius: 3px
  font-weight: 300

.field.field--focus
  border-color: $profile-box-field-focus-border !important
  background-color: $profile-box-field-focus-background

label
  color: $black
  text-align: left
  margin-bottom: 3px
  width: 100%

textarea
  resize: none

.label, .text
  padding: 0
  background: none 

form.custom
  .custom.dropdown
    background: white

