%invite-button
  +button($bg: $dark_green, $radius: 5px, $full-width: true)
  +box-shadow(rgba($black, 0.2) 0px -1px 1px 1px inset)
  font-size: emCalc(23px)
  +background-image(linear-gradient(top, $light_green, $dark_green))
  &:hover
    text-decoration: none
    +background-image(linear-gradient(top, $light_green, darken($dark_green, 5%)))

%action-button
  background-color: $light_grey
  border: 0
  +radius(3px)
  +box-shadow(none)
  color: $white
  font-weight: 400
  font-size: 1rem
  padding: 0.7em 1.5em

%dashed-button
  padding: 10px
  margin: 0
  text-align: center
  color: $green
  border: 2px dashed $green
  +opacity(0.2)
  +radius(10px)
  &:hover
    +opacity(1)
    +transition-property(all)
    +transition-duration(0.5s)

%profile-box-wrap
  .hover-border
    +hover-border
    +clearfix

%profile-box
  +grey-box-shadow
  background: $white
  padding: 25px 15px
  label
    font-size: 1em
  input[type=button], .button
    margin-left: 2%
    width: 28%  
  .file
    input[type=text], input[type=button]
      display: inline-block
    input[type=text]
      width: 70%
  .form-actions
    margin-top: 20px
    text-align: right

%opaque-button
  +opacity(0.3)
  &:hover
    +opacity(1)
    +transition-property(all)
    +transition-duration(0.5s)

%quotes
  &:before
    content: open-quote
  &:after
    content: close-quote
