.new-session
  margin-top: 35px
  header
    text-align: center
    font-size: emCalc(17px)
  .by_facebook
    width: 80%
    margin: 0 auto

.get-your-profile
  .register
    h2
      text-align: center
      font-size: emCalc(27px)
    .button-wrap
      width: 80%
      margin: 0 auto

.top-border
  height: 3px
  position: fixed
  top: 0
  width: 100%
  z-index: 2
  background-color: $green1


/** Flash messages */

#flashes-container
  $flash-colors: success $flash-green, alert $flash-red
  .alert-box
    +grey-box-shadow
    text-align: center
    border-radius: 3px
    border-width: 0
    font-weight: 300
    font-size: 13px
    line-height: 16px
    @each $flash-color in $flash-colors
      &.#{nth($flash-color, 1)}
        background-color: nth($flash-color, 2)
  &:hover
    cursor: pointer

[data-hide="true"]
  display: none

/** Utility bar */

.brand-wrap
  position: relative

.brand
  margin-top: 37px
  margin-bottom: 35px
  text-align: center
  img
    width: auto
    padding: 0 10px 0 10px


.utilities
  $height: 45px
  position: absolute
  top: 0
  right: 0
  .sign
    line-height: $height
    float: right
    vertical-align: middle
    li
      list-style-type: none
      display: inline
      padding-left: 10px
      &.icon-edit
        padding-left: 22px
