.about-page
  width: 500px
  margin: 40px auto
  @extend %profile-box
  h1
    font-size: 1.6rem
  p
    font-weight: 300
    margin-bottom: 0.7em

.body-background
  background-color: $background-color
  background-repeat: no-repeat
  background-image: image-url('bg.jpg')
  background-position: top center
  background-size: cover
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -1

.landing__header-container,
.landing__cta-container,
.landing__features-container,
.landing__cta2-container,
.landing__footer-container
  width: 100%
  padding: 3rem 0
  > div, header, footer
    max-width: $landing-max-width
    margin: 0 auto

.landing__social-container
  width: 100%

.landing__header-container,
.landing__cta-container,
.landing__social-container,
.landing__features-container,
.landing__cta2-container,
.landing__footer-container
  display: inline-block
  text-align: center

.landing__header-container
  text-align: left
  padding: 1.5rem 0
  img
    width: 15%

.landing__features-container
  padding: 1rem 0 3rem

.landing__header-container,
.landing__social-container,
.landing__features-container
  background-color: $white

.landing__cta-container
  background: image-url('green-bg.png')

.landing__cta2-container
  background-color: $gy-cta2

.landing__footer-container
  background-color: $g-bg

.landing__cta, .landing__features
  h1
    font-size: 3rem
    line-height: 1em
    margin-bottom: 8px
  p
    margin-bottom: 0
  p:first-of-type
    font-size: 1.75rem
  p:not(:first-of-type)
    font-size: 1rem
    color: $gy
  p.slogan
    color: $g-cta-text
    margin-top: 20px
    margin-bottom: 50px
  p.title
    color: $g-bg
    font-weight: bold

.landing__cta, .landing__cta2
  a
    color: $white
    font-weight: bold
    text-decoration: none

.landing__cta h1
  color: $white

.landing__cta2 p
  font-size: 1.75rem
  font-weight: bold

.landing__social
  .profile
    display: inline-block
    width: 33%
    margin-top: -4%
    vertical-align: top
  .profile-pic
    width: image-width('hover-box.png')
    margin: 0 auto
  .profile-pic:hover
    + .profile-info
      visibility: visible
  .profile-info
    margin-top: 15px
    padding-top: 5%
    visibility: hidden
    background: image-url('hover-box.png') no-repeat center
    height: image-height('hover-box.png')
  p
    font-weight: bold
    margin: 0
    &:last-child
      color: $g-bg

.results, .teams
  display: block
  position: relative
  margin-top: 70px
  margin-bottom: 30px
  .copy, img
    width: 50%
  .copy
    display: inline-block
    position: absolute
    top: 0
    bottom: 0
    margin: auto

.landing__features
  div:nth-of-type(odd)
    img
      padding-left: 1.5rem
      margin-left: 50%
    .copy
      padding-right: 1.5rem
      text-align: right
      height: 50%
      left: 0
  div:nth-of-type(even)
    img
      padding-right: 1.5rem
      margin-right: 50%
    .copy
      padding-left: 1.5rem
      text-align: left
      height: 30%
      right: 0

.cta-button, .cta2-button
  display: inline-block
  padding: 10px 50px
  +border-radius(30px)

.cta-button
  margin-bottom: 60px
  border: 4px solid $white

.cta2-button
  background: $g-bg
  border: 4px solid $g-bg

footer.landing__footer
  display: block
  margin-bottom: 50px
  .resource
    display: inline-block
    width: 25%
    text-align: left
    vertical-align: top
    padding-left: 7%

.landing__footer .resource
  p
    margin-bottom: 0
  p:first-of-type
    color: $g-foot-text
    font-weight: bold
    font-size: 1.75rem
  p:not(:first-of-type) a
    color: $white

.top-border
  height: 3px
  position: fixed
  top: 0
  width: 100%
  z-index: 2
  background-color: $green

/** Flash messages */

.container--simple > .flashes-container--home
  margin-top: 0

.flashes-container--home
  position: relative
  +grid-row()
  .flash
    max-width: 62.5em
    +grid-column($columns: $profile-box-columns, $offset: $root-page-offset)
    position: absolute !important
  margin-top: 15px

.flashes-container
  +grid-row($behavior: nest-collapse)
  .flash
    +grid-column($columns: $profile-box-columns, $offset: $dates-columns, $collapse: true)
  margin-top: 70px

.flashes-container, .flashes-container--home
  $flash-colors: success $flash-green, alert $flash-red
  .alert-box
    +grey-box-shadow
    text-align: center
    border-radius: 3px
    border-width: 0
    font-weight: 300
    font-size: 13px
    line-height: 16px
    @each $flash-color in $flash-colors
      &.#{nth($flash-color, 1)}
        background-color: nth($flash-color, 2)
  &:hover
    cursor: pointer

/** Utility bar */

.brand-wrap
  position: relative

.brand
  margin-top: 37px
  margin-bottom: 35px
  text-align: center
  img
    width: auto
    padding: 0 10px 0 10px

.utilities
  $height: 45px
  position: absolute
  top: 0
  right: 0
  .sign
    line-height: $height
    float: right
    vertical-align: middle
    li
      list-style-type: none
      display: inline
      font-weight: 300
    li.name
      font-weight: 400
    li:not(:last-child):after
      content: "•"
      color: $green
      font-weight: 300
      padding-left: 5px
      padding-right: 5px
