// Grid
.new-experience
  +grid-row()

.new-experience__fields
  +grid-column($columns: $profile-box-columns, $collapse: true, $offset: $dates-columns)
  .field
    width: 100%
    .label
      display: inline-block
      width: 20%
    .input
      display: inline-block
      width: 80%
  .field--dates .input
    width: 40%

.new-experience__box
  margin-bottom: $stories-separation
  @extend %form__box

