body > footer
  margin-top: -25px
  text-align: center
  font-weight: 300
  font-size: 0.9rem
  color: $dark_grey
  a
    text-decoration: underline
    color: $dark_grey
    &:hover
      color: $dark_grey

body > .container--simple ~ footer
  color: $white
  a
    text-decoration: underline
    color: $white
    &:hover
      color: $white

body > .container, .container--simple
  height: auto
  min-height: 100%

body > .container
  padding-bottom: 45px

html, body
  height: 100%
