//Mixins
=landing-feature-alignment($img-side, $copy-side)
  .image
    padding-#{$img-side}: 1.5em
    margin-#{$img-side}: 50%
  .copy
    #{$img-side}: 0
    text-align: $copy-side

=landing-cta-button-style($border-color)
  display: inline-block
  padding: 0.8em 3.5em
  +border-radius(emCalc(100px))
  border: 4px solid $border-color
  color: $white
  font-size: 1.4em
  font-weight: bold
  text-decoration: none

=display-highlighted-profiles($n-profiles)
  .landing-social__profile
    width: percentage(1/$n-profiles)
    &:nth-child(-n+#{$n-profiles})
      display: inline-block

// Rules
.container--simple
  +until($milli)
    font-size: 12px
  +at-least($milli)
    font-size: 13px
  +at-least($giga)
    font-size: 15px
  +at-least($peta)
    font-size: 20px

.landing-header-wrap
  +landing-wrap($padding: 1.5em 1em, $text-align: left)
  > header
    max-width: $mega
    margin: 0 auto
  img
    width: 129px

.landing-cta-wrap
  +landing-wrap($padding: 5em 1em 6em, $background: image-url('green-bg.png'))
  > div
    max-width: $mega
    margin: 0 auto

.landing-features-wrap
  +landing-wrap($padding: 135px 1em 3em)
  position: relative
  > div
    max-width: $mega
    margin: 0 auto
  .touch &
    padding: 80px 1em 3em

.landing-cta2-wrap
  +landing-wrap($padding: 3em 1em, $background: $landing-grey-background)
  > div
    max-width: $mega
    margin: 0 auto

.landing-footer-wrap
  +landing-wrap($padding: 3em 1em, $background: $landing-green)
  > footer
    max-width: $mega
    margin: 0 auto

+at-least($peta)
  .landing-header-wrap > header,
  .landing-cta-wrap > div,
  .landing-features-wrap > div,
  .landing-cta2-wrap > div,
  .landing-footer-wrap > footer
    max-width: $tera

.landing-cta,
.landing-features
  h1
    font-size: 2.5em
    line-height: 1.1em

.landing-cta
  h1
    color: $white
  p.landing-cta__slogan
    margin: 1.5em 0 3.5em
    color: $landing-cta-slogan
    font-size: 1.7em
    line-height: 1.1em
    // removes orphan on iphone landscape
    @media screen and (min-device-width: $femto) and (max-device-width: $pico) and (orientation: landscape)
      font-size: 1.8em

a.landing-cta__button
  margin-bottom: 2.35em
  +landing-cta-button-style($border-color: $white)
  // non smartphones
  +at-least(321px)
    margin-bottom: 4em
  &:hover
    background: $white
    color: $landing-green

.landing-features
  p
    margin-bottom: 0
  p.title
    padding-bottom: 0.4em
    color: $landing-green
    font-size: 1.7em
    line-height: 1.3em
    font-weight: bold
  p:not(:first-of-type)
    color: $dark-grey
    font-size: 1.2em

.landing-features__results,
.landing-features__teams
  position: relative
  margin: 4em 0
  .copy
    position: relative
    width: 100%
    text-align: center
  .image
    display: none
    width: 100%
    padding: 0
    margin: 0
  // displays feature's images for non smartphones
  +at-least($micro)
    margin-bottom: 2em
    .image
      display: block
      width: 50%
    .copy
      display: inline-block
      position: absolute
      top: 0
      bottom: 0
      width: 50%
      margin: auto
  // removes orphans
  +between($micro, $milli)
    font-size: 0.95em
  +between($giga, $peta)
    font-size: 1.08em

// puts copy and image side by side
+at-least($micro)
  .landing-features__results
    +landing-feature-alignment($img-side: left, $copy-side: right)
    .copy
      height: 50%
      padding-right: 1.5em

  .landing-features__teams
    +landing-feature-alignment($img-side: right, $copy-side: left)
    .copy
      height: 30%
      padding-left: 1.5em

// aligns horizontally team's copy and result's image
.landing-features__teams .copy
  +at-least($giga)
    padding-left: 4em
  +at-least($peta)
    padding-left: 7.4em

.landing-features-wrap .landing-social
  position: absolute
  max-width: none
  width: 100%
  left: 0
  top: -45px

// by default a viewport displays 0 highlighted profiles
.landing-social__profile
  float: left
  display: none

// displays $n-profiles profiles per viewport
+until($pico)
  +display-highlighted-profiles($n-profiles: 1)
  .touch
    +display-highlighted-profiles($n-profiles: 2)

@for $i from 2 through length($viewports)
  +at-least(nth($viewports, $i))
    +display-highlighted-profiles($n-profiles: $i)

.landing-social__profile .picture
  width: 90px
  margin: 0 auto
  img
    +circular(90px)
    border-style: solid
    border-color: $white
  &:hover + .info
    visibility: visible

// disables hover for touch devices
.touch .landing-social__profile .picture
  &:hover + .info
    visibility: hidden

.landing-social__profile .info
  margin: 0 auto
  padding: 20px 10px 10px
  width: 150px
  height: 79px
  background: image-url('hover-box.png') no-repeat center
  visibility: hidden
  p
    margin: 0
    font-size: 16px
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    &:last-child
      color: $landing-green

.landing-cta2 p
  font-size: 1.75em
  font-weight: bold

a.landing-cta2__button
  background: $landing-green
  +landing-cta-button-style($border-color: $landing-green)
  &:hover
    border-color: $landing-dark-green
    background: $landing-dark-green

footer.landing-footer
  font-size: 1.2em
  // horizontal resources have the same font-size as the rest of the page
  +at-least($milli)
    margin-bottom: 6em
    font-size: 1em

.landing-footer__resource
  margin-bottom: 2em
  // displays resources horizontally
  +at-least($milli)
    display: inline-block
    width: 33%
    margin-bottom: 0
    vertical-align: top

.landing-footer__resource p
  &:first-of-type
    color: $landing-footer-text
    font-weight: bold
    font-size: 1.75em
    margin-bottom: 0
  &:not(:first-of-type)
    margin-bottom: 0.5em
    // puts resources closer for desktops
    +at-least($giga + 1)
      margin-bottom: 0
    a
      color: $white

// hides UserVoice on non desktops
+until($giga + 1)
  #uvTab
    display: none
