.stories
  +grid-row($behavior: nest-collapse)
  #adds-story, #edit-story
    +grid-column($columns: 12, $collapse: true)
    #adds-story-show
      +grid-row($behavior: nest-collapse)
      +grid-column($columns: $profile-box-columns, $offset: $dates-columns)
  .story
    +grid-row()
    margin-bottom: $stories-separation
    .dates
      +grid-column($columns: $dates-columns)
    .details
      +grid-column($columns: $profile-box-columns, $collapse: true)
    .achievements
      +grid-row()

#adds-story form, #edit-story form
  .dates
    margin-top: 4.5em
    .input
      padding-right: 10px

  .experience-fields
    .input:not(:first-child)
      padding-left: 10px

.story
  +grid-row()
  margin-top: 10px
  .story__wrap
    +grid-column($columns: $profile-box-columns, $collapse: true, $offset: $dates-columns)
  .story__edit
    +grid-column(12 - $profile-box-columns - $dates-columns, $collapse: true)
    padding-left: 0.5rem

.story
  font-weight: 300
  line-height: 20px
  color: $black

.story__content
  background-color: white
  padding: 15px
  +grey-box-shadow

.story__description
  font-size: 20px
  font-weight: 600
  &:after
    content: ", "

.story__team
  font-weight: 400
  font-size: 20px

.story__dates
  margin-bottom: 8px

.story__position
  font-weight: 300
  margin-bottom: 7px

.story__edit
  position: absolute
  top: 0
  right: 0
  +transition-property(opacity)
  +transition-duration(0.3s)
  +transition-timing-function(linear)
  +opacity(0)
  height: 0
  text-align: left
  cursor: pointer
  &:hover
    p
      text-decoration: underline
  p
    color: $green
    font-weight: 300
    font-size: 0.9rem
    line-height: 1.1em
    padding-top: 0
    padding-right: 0
    margin: 0
  img
    height: 30px
    width: auto

.story:hover
  .story__edit
    +opacity(1)
    height: auto
    +transition-property(opacity)
    +transition-duration(0.3s)
    +transition-timing-function(linear)
