.tournament__wrap
  +grid-row()
  .tournament__icon
    +grid-column($columns: 1, $collapse: true)
  .tournament__content
    +grid-column($columns: 11, $collapse: true)
    .tournament__name
      +grid-row()
    .tournament__achievements
      +grid-row()

.tournament__wrap
  padding-top: 8px
  margin-left: 15px

.tournament__icon
  width: 28px

.tournament__name
  font-weight: 400


.new-experience
  .add-button, .remove
    text-align: right

  .remove a
    @extend %remove-tournament-button

  .add-text
    @extend %add-tournament-button

  .tournaments .first-line
    margin-bottom: 10px

  .tournament-fields
    margin-bottom: 25px
    .input.name
      padding-left: 0
    .input.icon
      .current
        img
          padding-left: 5px
        .name
          display: none
      ul li
        img
          vertical-align: middle
        span
          text-transform: capitalize
    input, .custom.dropdown
      margin-bottom: 0
