.tournament__wrap
  clear: both
  margin-bottom: 10px
  min-height: 2em

.tournament__icon
  float: left
  margin-left: 15px
  margin-right: 10px

.tournament__fields
  .field--action, .field--achievement, .field--tournament, .field--date
    display: inline-block
    box-sizing: border-box

.tournaments__title
  width: 100%

.tournament__fields
  .field--action
    width: 8%
  .field--achievement
    position: relative
    width: 92%
    .input
      width: 40%
  .field--date
    position: relative
    width: 92%
    .label
      height: 4px
    .date
      width: 80%
      display: inline-block
    .custom.dropdown
      display: inline-block
      width: 49.4%
  .field--tournament
    position: relative
    width: 92%
    .input
      width: 80%

.tournament-add
  margin-top: 15px
  margin-bottom: 15px

.new-experience
  .add-button, .remove
    text-align: left
  .remove a
    @extend %remove-tournament-button
  .add-text
    @extend %add-tournament-button

.tournament__fields
  margin-bottom: 25px
  .input.icon
    .name
      vertical-align: middle
      height: 40px
      text-transform: capitalize
      padding-left: 10px
    position: absolute
    .current
      img
        padding-left: 5px
      .name
        vertical-align: top
    ul img
      vertical-align: middle
  input, .custom.dropdown
    margin-bottom: 0


.tournament__name
  font-weight: 400

.tournament__achievements
  font-weight: 300

.tournaments__title h4
  font-size: 1rem
