html
  background-color: $background-color
  body
    background: none

form
  margin: 0
  padding: 0

textarea
  resize: none

form.custom
  .custom.dropdown
    background: white

input[type=file]
  display: none

ul
  margin: 0
  padding: 0

a
  color: $green1
  &:hover
    color: $green1
    text-decoration: underline

h1, h2
  margin: 0

h1
  font-size: 1.8rem
