html
  background-color: $background-color
  background-repeat: no-repeat
  background-image: image-url('bg.jpg')
  background-position: top center
  background-size: cover

ul
  margin: 0
  padding: 0

a
  color: $green
  &:hover
    color: $green
    text-decoration: underline

h1, h2
  margin: 0

h1
  font-size: 1.8rem
