body
  background: none
  > footer
    .powered
      +grid-row()
      div
        +grid-column($columns: 12)
        text-align: center
    .social
      +grid-row()

#flashes-container
  +grid-row($behavior: nest-collapse)
  .flash
    max-width: 62.5em
    +grid-column($columns: $profile-box-columns, $offset: $root-page-offset)

.user-profile
  #flashes-container
    .flash
      +grid-column($columns: $profile-box-columns, $offset: $dates-columns, $collapse: true)

.brand-wrap
  +grid-row()
  .brand
    +grid-column(3)

.user-profile
  +grid-row()
  .sidebar
    +grid-column(3)
    .icons
      +grid-row()
    .share
      +grid-row()
  .content
    +grid-column(9)
    .page-title-wrap
      +grid-row($behavior: nest-collapse)
      .page-title
        +grid-column($columns: $profile-box-columns, $offset: $dates-columns, $collapse: true)


.center-logo
  +grid-row()

.get-your-profile
  section
    +grid-row()
    .welcome-image
      +grid-column($columns: 12)
    .register
      +grid-column($columns: 4, $offset: 4)

.new-session
  header
    +grid-row()
    .title
      +grid-column($columns: 12)
  .methods
    +grid-row()
    .networks
      +grid-column($columns: 4, $offset: 4)

.profile-edit
  +grid-row($behavior: nest-collapse)
  +grid-column($columns: $profile-box-columns, $offset: $dates-columns, $collapse: true)

.profile-edit__box
  +grid-row()
  +grid-column($columns: 12)
  .last-name, .first-name
    +grid-column($columns: 5, $collapse: true)
  .first-name
    padding-right: 20px !important
  .date
    .custom.dropdown
      &:nth-child(2)
        +grid-column($columns: 3)
      &:nth-child(4)
        +grid-column($columns: 5)
      &:nth-child(6)
        +grid-column($columns: 4)

  .form-actions
    +grid-row($behavior: nest-collapse)
    +grid-column($columns: 12, $collapse: true)
    .button
      float: right
      margin-top: 10px
      margin-left: 10px

  .field
    +grid-row()
    .label
      +grid-column($columns: 2)
      background: none
      label
        @extend .right
        @extend .inline

    .text, .select, .textarea
      +grid-column($columns: 10, $collapse: true)
    .file
      input[type=text]
        +grid-column($columns: 8)
      input[type=button]
        +grid-column($columns: 2)
    .textarea
      textarea
        height: 120px

  .social-container
    +grid-row()
    .social
      +grid-column($columns: 6, $collapse: true)
      .facebook, .twitter
        +grid-row($behavior: nest-collapse)
        .icon-container
          +grid-column($columns: 3)
        .text
          +grid-column($columns: 9, $collapse: true)
