body
  background: none
  > footer
    .powered
      +grid-row()
      div
        +grid-column($columns: 12)
        text-align: center
    .social
      +grid-row()

#flashes-container
  +grid-row($behavior: nest-collapse)
  .flash
    max-width: 62.5em
    +grid-column($columns: $profile-box-columns, $offset: $root-page-offset)

.user-profile
  #flashes-container
    .flash
      +grid-column($columns: $profile-box-columns, $offset: $dates-columns, $collapse: true)

.brand-wrap
  +grid-row()
  .brand
    +grid-column(3)

.user-profile
  +grid-row()
  .sidebar
    +grid-column(3)
    .icons
      +grid-row()
    .share
      +grid-row()
  .content
    +grid-column(9)
    .page-title-wrap
      +grid-row($behavior: nest-collapse)
      .page-title
        +grid-column($columns: $profile-box-columns, $offset: $dates-columns, $collapse: true)


.center-logo
  +grid-row()

.get-your-profile
  section
    +grid-row()
    .welcome-image
      +grid-column($columns: 12)
    .register
      +grid-column($columns: 4, $offset: 4)

.new-session
  header
    +grid-row()
    .title
      +grid-column($columns: 12)
  .methods
    +grid-row()
    .networks
      +grid-column($columns: 4, $offset: 4)

.profile-edit
  +grid-column($columns: $profile-box-columns, $offset: $dates-columns, $collapse: true)
