body
  background: none
  > footer
    .powered
      +grid-row()
      div
        +grid-column($columns: 12)
        text-align: center
    .social
      +grid-row()

.user-profile
  +grid-row()
  .sidebar
    +grid-column($columns: 3)
    .icons
      +grid-row()
  .content
    +grid-column($columns: 9)
  .stories
    +grid-column($columns: 12)
    .adds-story
      +grid-row()
      form
        +grid-column($columns: 11, $offset: 1)
    .story
      +grid-row()
      .date
        +grid-column($columns: 1)
      .details
        +grid-column($columns: 11)

.center-logo
  +grid-row()

.get-your-profile
  section
    +grid-row()
    .welcome-image
      +grid-column($columns: 12)
    .register
      +grid-column($columns: 4, $offset: 4)

.new-session
  header
    +grid-row()
    .title
      +grid-column($columns: 12)
  .methods
    +grid-row()
    .networks
      +grid-column($columns: 4, $offset: 4)

.profile-edit
  +grid-row()

  form
    margin: 0

  .field
    +grid-row()
    .label
      +grid-column($columns: 3)
      background: none
      label
        @extend .right
        @extend .inline
    .text, .select, .textarea
      +grid-column($columns: 9)
      padding-right: 0

    &.name
      .label
        +grid-column($columns: 3)
      .text
        &.first
          +grid-column($columns: 4)
        &.last
          +grid-column($columns: 5)
          padding-right: 0

    &.date
      .custom.dropdown
        &:nth-child(2)
          +grid-column($columns: 2)
        &:nth-child(4)
          +grid-column($columns: 6)
        &:nth-child(6)
          +grid-column($columns: 4)


    .textarea
      textarea
        height: 120px

  .social-container
    +grid-row()
    .social
      +grid-column($columns: 6)
      padding-right: 0
      .facebook, .twitter
        +grid-row()
        .icon-container
          +grid-column($columns: 2)
        .text
          +grid-column($columns: 10)
          padding-right: 0

  .form-actions
    +grid-row()
    .submit
      +grid-column($columns: 2, $offset: 10)
      margin-top: 10px
