
.profile-box-wrap
  .hover-border
    +hover-border
    +clearfix

.profile-box
  +box-shadow($shadow-color 0px 1px 2px 0px)
  background: $white
  padding: emCalc(20px)
  font-weight: 400
  .title
    font-weight: 500
    font-size: 1.5em
    color: $green1
    line-height: 40px
    padding-bottom: 10px
  label
    font-weight: 300
    font-size: 13px
  .field
    .text, .select, .textarea
      margin: 0 auto
      padding-bottom: 10px
      padding-right: 0px
  input[type=text], textarea, .custom.dropdown
    +box-shadow(rgba(0,0,0,0.09) 0px 1px 2px 0px)
    border-radius: 3px
    border: 1px solid #D4D4D4
    font-size: 13px
    font-weight: 300
    &:focus
      +box-shadow(rgba(132,204,168,0.75) 0px 0px 5px 0px)
      border-radius: 3px
      background: #F9F9F9
      border: 1px solid #84CCA9

.user-profile .sidebar
  .name, .description
    text-align: center
    margin: 0
  .name
    font-size: emCalc(30px)
  .description
    margin-bottom: 5px
    opacity: 0.4
    &:before
      content: open-quote
    &:after
      content: close-quote
  .picture
    margin-top: 15px
    +box-shadow($shadow-color 0px 1px 2px 0px)
    +circular(150px)
    img
      +invisible
  .icons
    text-align: center
    margin-bottom: 20px
  .edit
    text-align: center
    a
      color: $green1
      padding-left: 25px
      padding-right: 25px
      height: 40px
      +opacity(0.3)
      &:hover
        +opacity(1)
        +transition-property(all)
        +transition-duration(0.5s)


.user-profile
  #adds-story, .content
    padding: emCalc(20px)
  #adds-story
    > a:first-child
      border: 2px dashed $green2
      +opacity(0.2)
      padding: 0
      margin: 0
      +radius(10px)
      text-align: center
      padding: 10px
      margin: 0
      color: $green2
      &:hover
        +opacity(1)
        +transition-property(all)
        +transition-duration(0.5s)
    .sport-experience-form
      display: none
  .stories
    .details-wrap
      +hover-border
      margin-bottom: emCalc(20px)
    .details-content
      background-color: white
      padding: emCalc(20px)
      +grey-box-shadow

#adds-story form
  .dates
    margin-top: 4.5em
    .input
      padding-right: 10px

  .sport-experience-fields
    .input:not(:first-child)
      padding-left: 10px

.story
  font-weight: 300
  font-size: 16px
  line-height: 20px
  color: #4A4A4A
  .dates
    margin-top: 10px
    text-align: right
    line-height: 30px
