@import 'compass'

@import 'shared/colors'

@import 'overrides'
@import 'foundation'

@import 'shared/icons'
@import 'shared/images'
@import 'shared/functions'
@import 'shared/buttons'

@import 'grid'
@import 'sessions'
@import 'profiles'

html
  +background(image-url('bg.jpg'))
  padding-top: 25px
  border-top: 3px solid $green1
  body
    background: none


